/* nav bar */
#nav-bar {
    background-color: #edf3f1;
    border-top: 1px solid #EEECEB;
    border-bottom: 1px solid lightgray;
    height: 70px;
}

.nav-li {
    display: inline-block;
    position: relative;
    left: 200px; 
    top: -2px;
}

.bg-color {
    background-color: white;
    height: 65px;
    width: 100px;
    box-shadow: 0px 0px 5px gray;
}

.bg-color>img {
    margin-left: 10px;
    margin-top: 10px;
}

#voltage {
    width: 170px;
    height: 50px;
    margin-top: 10px;
}

#crown {
    width: 170px;
    height: 50px;
    margin-top: 10px;
}

#secret {
    width: 170px;
    height: 50px;
    margin-top: 10px;
}

.border {
    border: 2px solid rgb(223, 217, 217) !important;
    height: 60px;
    
}



@media only screen and (max-width: 1082px) {
    .nav-ul {
        position: relative;
        right: 80px;
    }
}

@media only screen and (max-width: 1030px) {
    .nav-ul {
        position: relative;
        right: 130px;
    }
}

@media only screen and (max-width: 965px) {
    .nav-ul {
        position: relative;
        right: 160px;
    }
}

@media only screen and (max-width: 920px) {
    .nav-ul {
        position: relative;
        right: 200px;
    }
}

@media only screen and (max-width: 870px) {
    .nav-ul {
        position: relative;
        right: 230px;
    }
}

@media only screen and (max-width: 838px) {
    #secret {
        display: none;
    }
}

@media only screen and (max-width: 663px) {
    #crown {
        display: none;
    }
}

@media only screen and (max-width: 489px) {
    #voltage {
        display: none;
    }
}

#voltage:hover  {
    filter: blur(2px);
}

#secret:hover  {
    filter: blur(2px);
}

#crown:hover  {
    filter: blur(2px);
}

.border>img:hover {
    padding-top: 10px;
}

.nav-tbl {
    margin: auto;
}

.nav-tbl-th {
    width: 125px;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
}

.rabbit {
    background-color: rgba(116, 116, 116, 0.74);
    color: white;
    font-weight: lighter;
    font-size: 14px;
    height: 100px;
}

.tv {
    padding-bottom: 18px;
}

.ball {
    padding-bottom: 15px;
}

#nav-bar-2 {
    border-bottom: 1px solid rgb(216, 214, 214);    
}

.ball:hover {
    background-color: orangered;
    color: white;
}

.plus:hover {
    background-color: rgb(253, 106, 53);
    color: white;
}

.card:hover {
    background-color: rgb(233, 233, 74);
    color: white;
}

.card-w {
    width: 30px;
    position: relative;
    left: 45px;
    top: 10px;
}

.tv:hover {
    background-color: green;
    color: white;
}

.event:hover {
    background-color: dodgerblue;
    color: white;
}

.news:hover {
    background-color: blue;
    color: white;
}

#td-1 {
    background-color: rgba(116, 116, 116, 0.74);
    height: 7px;
}

#td-2 {
    background-color: orangered;
}

#td-3 {
    background-color: rgb(253, 106, 53);
}

#td-4 {
    background-color: rgb(233, 233, 74);
}

#td-5 {
    background-color: green;
}

#td-6 {
    background-color: dodgerblue;
}

#td-7 {
    background-color: blue;
}

/* nav bar end */

#image-div {
    margin-top: 50px;
    height: 900px;
}

.bg {
    background-color: dodgerblue;
}

.bold-para {
    font-size: 23px;
    color: white;
}

.bg-2 {
    background-color: rgb(37, 31, 31);
    color: white;
}

.aliment-1 {
    position: relative;
    left: 200px;
}

.aliment-2 {
    position: relative;
    left: 800px;
    bottom: 505px;
}

.text-2 {
    font-size: 22px;
}

.bg-3 {
    background-color: rgb(47, 47, 216);
    color: white;
}

.text-3 {
    font-size: 22px;
}

.aliment-3 {
    position: relative;
    left: 800px;
    bottom: 490px;
}

.aliment-4 {
    position: relative;
    bottom: 580px;
    left: 200px;
}

.text-4 {
    font-size: 22px;
    color: black;
} 

.bg-4 {
    background-color: rgb(175, 174, 174);
}

.aliment-5 {
    position: relative;
    bottom: 947px;
    left: 500px;
}

.bg-5 {
    background-color: rgb(245, 93, 38);
}

.text-5 {
    font-size: 22px;
    color: white;
}

.aliment-6 {
    position: relative;
    bottom: 1140px;
    left: 800px;
}

.bg-6 {
    background-color: rgba(197, 197, 28, 0.945);
    position: relative;
    left: 127px;
    bottom: 170px;
    width: 163px;
    height: 170px;
}

.text-6 {
    font-size: 22px;
    color: white;
}

.tp-1:hover {
    position: relative;
    bottom: 10px;
}

.tp-2:hover {
    position: relative;
    bottom: 515px;
}

.tp-3:hover {
    position: relative;
    bottom: 500px;
}

.tp-4:hover {
    position: relative;
    bottom: 590px;
}

.tp-5:hover {
    position: relative;
    bottom: 957px;
}

.tp-6:hover {
    position: relative;
    bottom: 1150px;
}

#same {
    display: inline-block;
}

#slide-div {

    margin-top: 50px;
    margin-left: 70px;
}

.slide-bg {
    background-color: gray;
}

.slide-text {
    font-size: 22px;
    color: white;
}

.ball-featured {
    position: relative;
    left: 364px;
    top: 48px;
    width: 285px;
}

#explore {
    background-color: rgba(51, 46, 46, 0.795);
    width: 280px;
    height: 40px;
    position: relative;
    top: 40px;
    left: 600px;
    border-radius: 5px;
    padding-top: 5px;
}

#explore>p {
    color: white;
    font-size: 20px;
    text-align: center;
}

#other-image {
    margin-top: 90px;
    margin-left: 200px;
}

.other-image-div-1 {
    background-color: dodgerblue;
}

.o-div-b {
    font-size: 22px;
    color: white;
}

.other-image-div-2 {
    background-color: darkslategray;
}

.other-image-div-3 {
    background-color: forestgreen;
}

.p-white {
    color: black;
}

.p-week {
    font-size: 28px;
    width: 230px;
    position: relative;
    left: 315px;
}

.other-image-div-4 {
    background-color: rgb(247, 104, 52);
}

.other-image-div-5 {
    background-color: rgb(145, 70, 145);
}

.other-image-div-6 {
    background-color: orangered;
}

.up-img {
    position: relative;
    bottom: 120px;
}

.text-div-1 {
    background-color: rgb(247, 104, 52);
    border-radius: 5px;
}

.text-div-1>p {
    font-size: 22px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    height: 60px;
} 

#text-div {
    width: 285px;
    position: relative;
    left: 590px;
    top: -100px;
}

.text-div-2 {
    margin-top: -18px;
    background-color: dodgerblue;
    border-radius: 5px;
}

.text-div-2>p {
    padding-left: 20px;
    padding-top: 10px;
    /* height: 60px; */
}

#footer-div-1 {
    display: inline-block;
    border-right: 2px solid black;
    padding-top: 40px;
    padding-left: 190px;
    padding-right: 50px;
}

#footer-div-2 {
    display: inline-block;
    border-right: 2px solid black;
    padding-left: 40px;
    padding-right: 40px;
}

#footer-div-3 {
    display: inline-block;
    padding-left: 50px;
}

#footer-div {
    background-color: rgb(41, 39, 39);
    color: gainsboro;
}

.footer-th {
    color: white;
    font-size: 22px;
    padding-bottom: 30px;
}

.footer-div-2-img {
    position: relative;
    bottom: -40px;
}

.bbb {
    position: relative;
    bottom: 10px;
}

.span-div-3 {
    width: 100px;
    height: 50px;
    position: relative;
    left: 160px;
    bottom: 70px;
    font-size: 10px;
}

.span-div-3>a {
    color: lightgray;
}